h1 {
  text-align: center;
}

/*There are two main color models: the additive 
RGB (red, green, blue) model used in electronic devices, 
and the subtractive CMYK (cyan, magenta, yellow, black) 
model used in print.*/

.container {
  /*
  In the .container CSS rule, 
  use the shorthand padding property to add 10px of top and bottom 
  padding, and set the left and right padding to 0. 
  This works similarly to the shorthand margin property 
  you used earlier.*/
  /*to create white background-color: rgb(255, 255, 255);*/
  /*to create black background-color: rgb(0, 0, 0);*/
  background-color: rgb(255, 255, 255);
  padding: 10px 0; 
}

.marker {
  width: 200px;
  height: 25px;
  /*When the shorthand margin property has two values, 
  it sets margin-top and margin-bottom to the first value, 
  and margin-left and margin-right to the second value.*/
  margin: 10px auto;
}

.one {
  background-color: rgb(255, 255, 0);
}

.two {
  background-color: rgb(0, 255, 255);
}

.three {
  background-color: rgb(255, 0, 255);
}