.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background-color: #0b74e43a;
}

/* The horizontal line on thetop of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
}

/* The circle on the bottom ofthe device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
}

/* The screen (or content) ofthe device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: rgb(35, 3, 112);
}

.container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #333;
  font-family: serif, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: whitesmoke;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  border: none;
  border-radius: 5px;
}

input[type="tel"] {
  font-size: 16px;
  padding: 10px;
  width: 80%;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 8px; /* iOS-style button border radius */
  border: 1px solid black;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#results-div {
  margin-top: 20px;
  font-size: 18px;
}

